<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>User Portal</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Comforter&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Source+Serif+4:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
    rel="stylesheet">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/234be40154.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="styles\patientportal.css">
</head>

<body>


  <div class="container-fluid">
    <nav class="navbar navbar-dark bg-dark">
      <a href="#" id="strip"><i class="fas fa-bars bar"></i></a>
      <a class="navbar-brand" href="#">E-Clinic </a>

    </nav>
    <div class="row one">
      <div class="fixed" id="elements">
        <div class="elements">

          <div class="list-group list-group-flush">
            <a href="#" class="list-group-item list-group-item-action" id="a">
              <i class="fas fa-angle-double-right fa-fw" ></i>Upcoming Appointments
            </a>
            <a href="#" class="list-group-item list-group-item-action" id="b"><i class="fa-solid fa-info fa-fw"></i>Info </a>
            <a href="#" class="list-group-item list-group-item-action" id="d"><i class="fa-solid fa-calendar-check fa-fw"></i> Book Appointment</a>
            <a href="#" class="list-group-item list-group-item-action" id="e"><i class="fa-solid fa-calendar-check fa-fw"></i> Cancle Appointment</a>
            <a href="#" class="list-group-item list-group-item-action" id="f"><i class="fa-solid fa-clock-rotate-left fa-fw"></i> Past Appointment & Prescriptions</a>
            <a href="#" class="list-group-item list-group-item-action" id="g"><i class="fas fa-envelope fa-fw"></i> Messages & Permissions</a>
            <a href="#" class="list-group-item list-group-item-action" id="h"><i class="fas fa-sign-out-alt fa-fw"></i>Log-Out</a>





          </div>

        </div>


      </div>
      <div class="col">

        <div class="booking" id="booking">
          <h1> Book Doctor Now! </h1>
          <a href="#">Click here to get doctor suggestion based on symptoms</a>
          <br><br>
          <input class="form-control" id="Input2" type="text" placeholder="Search..">
          <br>
          <div class="tab1" style=" max-height: 450px;overflow-y: auto;">


            <table class="table table-bordered table1">
              <thead>
                <tr>
                  <th>DoctorId</th>
                  <th>Name</th>
                  <th>Gender</th>
                  <th>Qualification</th>
                  <th>Department</th>
                  <th>Experience</th>
                </tr>
              </thead>
              <tbody id="myTable2" class="tbody">
              <% data.forEach(function(doc){  %>
                <tr>
                  <td><%= doc._id %></td>
                  <td><%= doc.name %></td>
                  <td><%= doc.gender %></td>
                  <td><%= doc.qualification %></td>
                  <td><%= doc.department %></td>
                  <td><%= doc.experience %></td>
                </tr>
              <%})%>

              </tbody>
            </table>

          </div>

          <form>
            <div class="form-group">
              <label for="docid2">Doctor-Id</label>
              <input type="text" class="form-control" id="docid2" placeholder="Enter DoctorId">


            </div>
            <div class="form-group">
              <label for="date2">Date</label>
              <input type="date" class="form-control" id="date2" placeholder="Date of Booking">
            </div>
            <div class="form-group">
              <label for="slot2">Select Slot</label>
              <select class="form-control" id="slot2">
                <option disabled selected hidden>Select Available slots</option>
                <option>4:00-4:20 pm</option>
                <option>4:25-4:45 pm</option>
                <option>4:50-5:10 pm</option>
                <option>5:15-5:35 pm</option>

              </select>
            </div>



            <div class="but12">
              <button type="submit" class="btn btn-primary btn-app">Confirm Slot</button>
            </div>

          </form>

        </div>


        <!-- upcoming       -->

        <div class="upcoming" id="upcoming">
          <h1> Hey <%=pdata.name%> , Welcome Back! </h1>
          <br>
          <h5>Next Appointment</h5>
          <p class="text-muted" >You can access consultation page before 5 mins of appointment time</p>

          <h5><i class="fas fa-user-md fa-fw"></i> Dr.Random</h5>
          <hr>
          <h6><i class="fas fa-calendar fa-fw"></i> 10:30-10:40 pm <br>
            <p class="text-muted">Monday,25 March 2022</p>
          </h6>

          <div class="but12">
            <button type="button" class="btn btn-primary btn-app">Consult Now</button>
          </div>






          <br>

          <h3>You'r upcoming Appointments are here</h3>

          <br>
          <input class="form-control" id="Input1" type="text" placeholder="Search..">
          <br>
          <div class="tab1" style=" max-height: 450px;overflow-y: auto;">


            <table class="table table-bordered table1">
              <thead>
                <tr>

                  <th>Doctor Name</th>
                  <th>Date</th>
                  <th>Time</th>

                </tr>
              </thead>
              <tbody id="myTable1" class="tbody">
                <tr>
                  <td>Doe</td>
                  <td>27/11/2021</td>
                  <td>7:00-7:20 pm</td>

                </tr>
                <tr>
                  <td>Doe</td>
                  <td>27/11/2021</td>
                  <td>7:00-7:20 pm</td>
                </tr>
                <tr>
                  <td>Doe</td>
                  <td>27/11/2021</td>
                  <td>7:00-7:20 pm</td>
                </tr>
                <tr>
                  <td>Doe</td>
                  <td>27/11/2021</td>
                  <td>7:00-7:20 pm</td>
                </tr>

              </tbody>
            </table>

          </div>
          <br>
          <br>



        </div>


        <!-- cancel -->
        <div class="cancel" id="cancel">
          <h1> Cancel your scheduled appointment</h1>

          <br><br>
          <input class="form-control" id="Input" type="text" placeholder="Search..">
          <br>
          <div class="tab1" style=" max-height: 450px;overflow-y: auto;">


            <table class="table table-bordered table1">
              <thead>
              <tr>
                <th>Doctor Id</th>
                <th>Doctor Name</th>
                <th>Date</th>
                <th>Time</th>

              </tr>
              </thead>
              <tbody id="myTable" class="tbody">
              <tr>
                <td>1</td>
                <td>Doe</td>
                <td>27/11/2021</td>
                <td>7:00-7:20 pm</td>

              </tr>
              <tr>
                <td>2</td>
                <td>Moe</td>
                <td>27/11/2021</td>
                <td>7:00-7:20 pm</td>
              </tr>
              <tr>
                <td>3</td>
                <td>Doe</td>
                <td>27/11/2021</td>
                <td>7:00-7:20 pm</td>
              </tr>
              <tr>
                <td>4</td>
                <td>Doe</td>
                <td>27/11/2021</td>
                <td>7:00-7:20 pm</td>
              </tr>

              </tbody>
            </table>
          </div>

          <form>
            <div class="form-group">
              <label for="docid">Doctor-Id</label>
              <input type="text" class="form-control" id="docid" placeholder="Enter DoctorId">


            </div>
            <div class="form-group">
              <label for="date1">Date</label>
              <input type="date" class="form-control" id="date1" placeholder="Date of Booking">
            </div>




            <div class="but12">
              <button type="submit" class="btn btn-primary btn-app">Cancel Appointment</button>
            </div>

          </form>

        </div>


<!--        past appointment-->

        <div class="past-appointment" id="past-appointment">
          <h1>Yor last appointments</h1>

          <br><br>
          <input class="form-control" id="Input3" type="text" placeholder="Search..">
          <br>
          <div class="tab1" style=" max-height: 450px;overflow-y: auto;">


            <table class="table table-bordered table1">
              <thead>
              <tr>

                <th>Doctor Name</th>
                <th>Date</th>
                <th>Time</th>
                <th>Status</th>
                <th>Prescription</th>


              </tr>
              </thead>
              <tbody id="myTable3" class="tbody">
              <tr>

                <td>Doe</td>
                <td>27/11/2021</td>
                <td>7:00-7:20 pm</td>
                <td>Success</td>
                <td><a href="" class="fas fa-arrow-right"></a></td>

              </tr>
              <tr>

                <td>Moe</td>
                <td>27/11/2021</td>
                <td>7:00-7:20 pm</td>
                <td>Canceled</td>
                <td><i class="fas fa-times"></i></td>
              </tr>
              <tr>

                <td>Doe</td>
                <td>27/11/2021</td>
                <td>7:00-7:20 pm</td>
                <td>Canceled</td>
                  <td><i class="fas fa-times"></i></td>
              </tr>
              <tr>

                <td>Doe</td>
                <td>27/11/2021</td>
                <td>7:00-7:20 pm</td>
                <td>Success</td>
                <td><a href="" class="fas fa-arrow-right"></a></td>
              </tr>

              </tbody>
            </table>
          </div>


          </div>

<!--info-->
        <div class="info" id="info">
          <h2>Edit/View Info</h2>
          <br>
          <br>
<form action="/patientportal" method="post">


          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-3">
                    <h5>Name</h5>
                  </div>
                  <div class="col-sm-9">
                    <input type="text" id="name" class="form-control" value="<%=pdata.name%>">
                  </div>
                </div>
              </div>


              <div class="form-group">
                <div class="row">
                  <div class="col-sm-3">
                    <h5>Phone Number</h5>
                  </div>
                  <div class="col-sm-9">
                    <input type="text" id="phonenum" class="form-control" value="<%=pdata.phone%>">
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <div class="col-sm-3">
                    <h5>Aadhaar Number</h5>
                  </div>
                  <div class="col-sm-9">
                    <input type="text" id="adhar" class="form-control" value="<%=pdata.adhar%>">
                  </div>
                </div>
              </div>


              <div class="form-group">
                <div class="row">
                  <div class="col-sm-3">
                    <h5>D.O.B</h5>
                  </div>
                  <div class="col-sm-9">
                    <input type="date" id="dob" class="form-control" value="<%=(pdata.dob)%>">
                  </div>
                </div>
              </div>

              <div classs="form-group">
                <div class="row">
                  <div class="col-sm-3">
                    <h5>Gender</h5>
                  </div>
                  <div class="col-sm-9">
                    <select class="form-control" name="gender" id="gender" value="<%=pdata.gender%>">

                      <option value="Male">Male</option>
                      <option value="Fe-Male">Female</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <h5>Allergies</h5>
                    <%dat=JSON.stringify(new Date(pdata.allergies)).slice(1,11)%>
                    <textarea id="allergies" class="form-control" style="height : 150px"><%=pdata.allergies%></textarea>
                  </div>

                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <h5>Past Medical History</h5>
                    <textarea id="m_history" class="form-control" style="height : 150px"><%=pdata.medicalhistory%></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-sm-4">
                  <h5>Password</h5>
                </div>
                <div class="col-sm-8">
                  <input type="password" id="password1" class="form-control" >
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col-sm-4">
                  <h5>Confirm Password</h5>
                </div>
                <div class="col-sm-8">
                  <input type="password" id="password" class="form-control" >
                </div>
              </div>
            </div>
          </div>

          <br>
          <br>
          <div class="row">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-6">
              <button class="btn btn-lg btn-block">Save Changes</button>
            </div>
          </div>
        </div>
        </form>

<!--message-->


        <!-- Permissions -->
        <div id="map1" class="map1">
          <div class="mcont" style=" max-height: 450px;overflow-y: auto;" id="map">
            <h1>Messages</h1>
            <br>
            <table class="table table-bordered">
              <thead>
              <tr>
                <th class="tc3">Message ID</th>
                <th class="tc3">Message</th>
                <th class="tc3">Status</th>
              </tr>
              </thead>
              <tbody id="myTable" class="tbody">
              <tr>
                <td>1</td>
                <td>Your Message will be displayed here</td>
                <td class="tc3"><i class="fa-solid fa-envelope icon"></i></td>
              </tr>

              <tr>
                <td>2</td>
                <td>Your Message will be displayed here</td>
                <td class="tc3"><i class="fa-solid fa-envelope icon"></i></td>
              </tr>

              <tr>
                <td>3</td>
                <td>Your Message will be displayed here</td>
                <td class="tc3"><i class="fa-solid fa-envelope-open icon"></i></td>
              </tr>

              <tr>
                <td>4</td>
                <td>Your Message will be displayed here</td>
                <td class="tc3"><i class="fa-solid fa-envelope-open icon"></i></td>
              </tr>

              </tbody>
            </table>
          </div>

          <div class="mcont">

            <h1>Permissions</h1>
            <br>
            <table class="table table-bordered">
              <thead>
              <tr>
                <th>S.No</th>
                <th>Doctor Name</th>
                <th>Approval</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody class="tbody">
              <tr>
                <td>1</td>
                <td>Dr.ABC</td>
                <td>
                Dr.ABC has requested to view your profile

                </td>
                <td>  <div class="row butr">
                    <button class="btn btn-success btnp">Accept</button>
                    <button class="btn btn-danger btnp">Reject</button>
                  </div></td>
              </tr>

              <tr>
                <td>2</td>
                <td>Dr.ABC</td>
                <td>
                  Dr.ABC has requested to view your profile

                </td>
                <td>  <div class="row butr">
                    <button class="btn btn-success btnp">Accept</button>
                    <button class="btn btn-danger btnp">Reject</button>
                  </div></td>
              </tr>

              <tr>
                <td>3</td>
                <td>Dr.ABC</td>
                <td>
                  Dr.ABC has requested to view your profile

                </td>
                <td>  <div class="row butr">
                    <button class="btn btn-success btnp">Accept</button>
                    <button class="btn btn-danger btnp">Reject</button>
                  </div></td>
              </tr>

              <tr>
                <td>4</td>
                <td>Dr.ABC</td>
                <td>
              Dr.ABC has requested to view your profile

                </td>
                <td>  <div class="row butr">
                    <button class="btn btn-success btnp">Accept</button>
                    <button class="btn btn-danger btnp">Reject</button>
                  </div></td>
              </tr>
              </tbody>
            </table>

          </div>
        </div>







        </div>





      </div>
    </div>




  </div>






  <script src="patientportal.js" charset="utf-8 "></script>
</body>

</html>
